﻿@model IEnumerable<JPosting.DATA.EF.Applications>

@{
    ViewBag.Title = "Applications";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <th>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </th>
        }

        <th>
            @Html.DisplayNameFor(model => model.IsDeclined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeFilename)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.OpenPositions.OpenPositionsID)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerNotes)
                </td>
            }

            <td>
                 Under Review
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ResumeFilename)*@
                <a href="~/Content/Images/@item.ResumeFilename" target="_blank" class="btn btn-info">View Resume</a>
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.OpenPositions.OpenPositionsID)
            </td>*@
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationID }, new { @class = "btn btn-primary" })
                }
                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationID }, new { @class = "btn btn-danger" })
                @*@Html.ActionLink("Details", "Details", new { id = item.ApplicationID }) |*@

            </td>
        </tr>
    }

</table>
