﻿body {
  
    padding-bottom: 20px;
    color: black;   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 2px 2px 2px;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
    height:100%;
    background-color:#0B2F6B;
    color:white;    
}
p #footer {
    color: black;
}
.btn {
    font-weight: bold;
}
.btn, .page-link, .nav-link {
    text-decoration: none;
}
.btn-primary {
    color: #fff;
    background-color: #104399;
    border-color: #111;
}
a#registerLink {
    text-decoration: none;
    color: grey;
    

}
a#registerLink:hover {
    text-decoration: none;
    color: white;
    background-color: #1e1e1e;

}
a#loginLink{ 
    text-decoration: none;
    color: grey;
}

a#loginLink:hover{ 
    text-decoration: none;
    color: white;
    background-color: #1e1e1e;
}
.btn-info{
    color: #fff;
    background-color: #1e1e1e
}
.btn-info:hover{
    color: #fff;
    background-color: #1e1e1e
}
img{
    margin-left: 200px;
}
div.jumbotron-wrap{
    background-color: white;
}
form#main-contact-form.contact-form.row  {
    display: inherit;
}
#tarea {
    resize: none;
    width: 400px;
}
form#main-contact-form.contact-form.row input, form#main-contact-form.contact-form.row textarea#message {
    padding: 2px;
}
.form-control.bo {
    border: none;
}
#homeBanner {
    background: url('Images/onemogin.jpg')no-repeat;
    background-size: cover;
    background-position-y: -320px;

}
h3 { 
    color: #998E8D;
    font-family: 'Sofia', cursive;
}