﻿@model JPosting.UI.Models.ContactViewModel

@section styles {
    <style>
        .input-validation-error {
            border: 1px solid red;
        }

        .field-validation-error {
            font-weight: bold;
            font-size: .8em;
            color: red;
        }

        #contact-page textarea.form-control {
            resize: none;
            height: 155px;
        }
    </style>
}


@{
    ViewBag.Title = "Contact";
}


<main class="container-fluid">


    <!-- Main content -->
    <h2>Contact</h2>
    @if (ViewBag.Confirmation != null)
    {
        <div class="border-danger" style="background-color:red;color:white">
            <h3>@ViewBag.Confirmation</h3>
        </div>
    }
    <address>

        <div class="contact-form">

            @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @id = "main-contact-form", @class = "contact-from" }))
            {

                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="form-control bo col-md-6">
                        @*<input type="text" name="name" class="form-control" placeholder="Name">*@
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                        @*<span id="nameVal" class="invalid"></span>*@
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
                        <div class="row">
                            <div class="form-control bo col-md-6">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(x => x.Email)


                            </div>
                        </div>

                            <div class="row">
                                <div class="form-control bo col-md-6">
                                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Subject" })
                                    @Html.ValidationMessageFor(x => x.Subject)


                                </div>
                            </div>
                            <div class="row">
                                <div class="form-control bo col-md-12">
                                    @*<textarea name="message" id="message" class="form-control" rows="8" placeholder="Your Message Here"></textarea>*@
                                    @Html.TextAreaFor(x => x.Message, new { @class = "form-control", rows = "8", placeholder = "Your message here", @id="tarea" })
                                    @Html.ValidationMessageFor(x => x.Message)

                                </div>
                            </div>
                            <div class="row" ><div class="form-control bo col-md-6">
                                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
                            </div></div>
            }
        </div>
    </address>


</main>