﻿@{
    ViewBag.Title = "Home Page";
}

<a href="@Url.Content("~/Content/MikeFallinDocumentation.pdf")" target="_blank">Project Documentation</a>
<div class="jumbotron-wrap" >

    <img src="~/Content/Images/pizza.jpg" />
</div>
                        <div id="accordion" class="accordion">
                            <h3>Application's Purpose</h3>
                            <div>
                                <p>Developed an internal job listings for a restaurant. The ability for employees to search for other positions within the company to help further their development</p>
                            </div>
                            <h3>Controller/View Lockdown</h3>
                            <div>
                                <p>Customized controllers to allow limited access to the application. Also removed options in the views to help streamline the over all look.</p>
                            </div>
                            <h3>Roles</h3>
                            <div>
                                <p>Applied different roles representing HR and local store authorities.</p>
                                <ul>
                                    <li>Admin - Has CRUD functionality over all aspects of the application</li>
                                    <li>Manager - Can see open positions and applications for their store only</li>
                                    <li>Registered User - Can see all open positions and their own, approved applications</li>
                                </ul>
                            </div>

                        </div>

