﻿@model JPosting.DATA.EF.OpenPositions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OpenPositions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Locations.StoreNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locations.StoreNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Positions.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Positions.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
