﻿@model IEnumerable<JPosting.DATA.EF.OpenPositions>

@{
    ViewBag.Title = "Open Positions";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("New Opening", "Create")
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Locations.StoreNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions.Title)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Locations.City)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Locations.State)
            </th>
            <th class="noSort"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Locations.StoreNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Positions.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locations.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locations.State)
                </td>
                <td>
                    @if (!User.IsInRole("Admin") && !User.IsInRole("Manager") && Request.IsAuthenticated)
                {
                        @Html.ActionLink("Apply", "Apply", "Applications", new { id = item.OpenPositionsID }, new { @class = "btn btn-primary" })
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionsID  }, new { @class = "btn btn-primary" }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionsID }, new { @class = "btn btn-danger" })
                    }


                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "columnDefs": [
            { targets: "noSort", orderable: false }
                ]
            });
        });
    </script>

}
