﻿@model IEnumerable<JPosting.DATA.EF.Locations>

@{
    ViewBag.Title = "Index";
}

<h2>Locations</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ManagerID)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ManagerID)
            </td>*@
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocationID }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Delete", "Delete", new { id = item.LocationID }, new { @class = "btn btn-danger" })
                }

            </td>
        </tr>
    }

</table>
