﻿@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Please check your email and confirm your email address.
</p>
<p class="text-danger">
    Please check your email and confirm your email address. <a href="@ViewBag.Link">link</a>
    
</p>
